.DS_Store
build
node_modules
app_log.log
src/index.js
simpass.me/server_config.json
simpass.me/__pycache__
simpass.me/pre-deploy.py
package.json
package-lock.json
postcss.config.js
simpass.me/static/scripts/scripts.min.js
package-lock.json
package.json
