.DS_Store
build
node_modules
app_log.log
src/index.js
simpass.me/server_config.json
simpass.me/__pycache__/tools.cpython-38.pyc
simpass.me/__pycache__/config_tools.cpython-38.opt-2.pyc
simpass.me/__pycache__/tools.cpython-38.opt-2.pyc
simpass.me/__pycache__/config_tools.cpython-38.pyc
simpass.me/pre-deploy.py
