/* Available color schemes */
:root {
	color-scheme: dark;

	--dark-theme-background: #111;
	--dark-theme-text: #EEEEEE;
	--dark-theme-button-color: #212121;
	--dark-theme-select-color: #424242;
	--dark-theme-selection-color: #9E9E9E;
}
/* General styles */
body {
	font-family: 'Ubuntu Mono', monospace;

	color: var(--dark-theme-text);
	background-color: var(--dark-theme-background);

	overflow-y: hidden;
	overflow-x: hidden;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 12px;
}

/* Element-specific styles */
#monky {
	transition: 0.6s;
	font-size: 20px;
	width: 34px;
	height: 34px;
}

#form_div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#complexitySelect,
#lengthSelect {
	background-color: var(--dark-theme-button-color);
	color: var(--dark-theme-text);
	border-color: var(--dark-theme-button-color);
}

#complexitySelect:focus,
#complexitySelect:active,
#lengthSelect:focus,
#lengthSelect:active {
	border-color: var(--dark-theme-button-color);
	box-shadow: none;
}

#lengthSelect::-moz-selection {
	color: var(--dark-theme-selection-color);
}

#lengthSelect::selection {
	color: var(--dark-theme-selection-color);
}

#copyButton {
	background-color: var(--dark-theme-button-color);
	color: var(--dark-theme-text);
	border-color: var(--dark-theme-button-color);
}

#copyButton:active,
#copyButton:focus {
	background-color: var(--dark-theme-button-color);
	color: var(--dark-theme-text);

	box-shadow: inset 0em 0em 0em 4em rgba(8, 8, 8, .6);
	border-color: rgba(6, 6, 6, 1);
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#generatorOutput {
	background-color: var(--dark-theme-select-color);
	color: var(--dark-theme-text);
	border-color: var(--dark-theme-select-color);
	border-left-color: var(--dark-theme-button-color);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#generatorOutput:focus,
#generatorOutput:active {
	border-color: var(--dark-theme-select-color);
	border-left-color: var(--dark-theme-button-color);
	box-shadow: none;
}

#generatorOutput::selection {
	background: rgba(255, 255, 255, 0);
}

#generatorOutput::-moz-selection {
	background: rgba(255, 255, 255, 0);
}

.copyNotifyText {
	font-size: 15px;
	color: var(--dark-theme-text);

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s ease-out;
  	will-change: opacity, visibility;
}

#footer {
	background-color: none;
	color: var(--dark-theme-text);
}

#sauce,
#sauce:link,
#sauce:visited,
#sauce:hover,
#sauce:active {
	color: var(--dark-theme-text);
	font-size: 13px;
}

/* Class styles */
.vertical-center {
	display: flex;
	align-items: center;
	min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 50vh; /* These two lines are counted as one :-)       */
}

.popover-box {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 14px;
}

.fieldLabel {
	color: var(--dark-theme-text);
}