/* Available color schemes */
:root {
	color-scheme: light dark;
}

/* Dark theme specific styles */
body {
	color: #fefefe;
	background-color: #111;
	overflow-y: hidden;
	overflow-x: hidden;
}

#passgen_button {
	color: #111;
	background-color: #fafafa;
	border-color: #212121;
}

#options_link {
	border-bottom: 2px dashed #fafafa;
}

/* Light theme specific styles
@media screen and (prefers-color-scheme: light) {
	body {
		color: #111;
		background-color: #fefefe;
	}

	#passgen_button {
		color: #fafafa;
		background-color: #111;
		border-color: #212121
	}

	#options_link {
		border-bottom: 2px dashed #111;
	}
}
*/

/* General styles */
body {
	font-family: 'Ubuntu Mono', monospace;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 12px;
}

/* Element-specific styles */
#header_div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#monky {
	transition: 0.6s;
	font-size: 20px;
}

#form_div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#complexitySelect,
#lengthSelect {
	background-color: #212121;
	color: #EEEEEE;
	border-color: #212121;
}

#complexitySelect:focus,
#complexitySelect:active,
#lengthSelect:focus,
#lengthSelect:active {
	border-color: #212121;
	box-shadow: none;
}

#lengthSelect::-moz-selection {
	color: #9E9E9E;
}

#lengthSelect::selection {
	color: #9E9E9E;
}

#copyButton {
	background-color: #212121;
	color: #EEEEEE;
	border-color: #212121;
}

#generatorOutput {
	background-color: #424242;
	color: #EEEEEE;
	border-left-color: #212121;
	border-color: #212121;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#generatorOutput:focus,
#generatorOutput:active {
	border-color: #212121;
	border-left-color: #212121;
	box-shadow: none;
}

#generatorOutput::selection {
	background: rgba(255, 255, 255, 0);
}

#generatorOutput::-moz-selection {
	background: rgba(255, 255, 255, 0);
}

.copyNotifyText {
	font-size: 15px;
	color: #EEEEEE;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s ease-out;
  	will-change: opacity, visibility;
}

#footer {
	background-color: none;
	color: #EEEEEE;
}

#sauce,
#sauce:link,
#sauce:visited,
#sauce:hover,
#sauce:active {
	color: #EEEEEE;
}

/* Class styles */
.vertical-center {
	display: flex;
	align-items: center;
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
}

.popover-box {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 14px;
}

.fieldLabel {
	color: #EEEEEE;
}